{% extends "layout.html" %}
{% block navbar %}
<a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
<a class="btn btn-primary" href="{{ url_for('survey') }}">Survey</a>
<a class="btn btn-primary active" href="{{ url_for('data') }}">Data</a>
{% endblock navbar %}
{% block content %}
        {% if not user.no_data_message %}
                <div class="container mb-2">
                        <h5><b>DOWNLOADS</b></h5>
                </div>
                <div class="container">
                        <div class="row no-gutters">
                                <div class="col col-5">
                                        <h1 class="text-right">
                                                <a href="{{ url_for('download_csv') }}">
                                                        <i class="fas fa-file-csv"></i>
                                                </a>
                                        </h1>
                                </div>
                                <b class="mr-1 ml-1"></b>
                                <div class="col">
                                        <h1 class="text-left">
                                                .csv
                                        </h1>
                                </div>
                        </div>
                        <div class="row no-gutters">
                                <div class="col  col-5">
                                        <h1 class="text-right">
                                                <a href="{{ url_for('download_xlsx') }}">
                                                        <i class="fas fa-file-excel"></i>
                                                </a>
                                        </h1>
                                </div>
                                <b class="mr-1 ml-1"></b>
                                <div class="col">
                                        <h1 class="text-left"> .xlsx</h1>
                                </div>
                        </div>
                </div>
                <hr>
                <div class="container mb-2">
                        <h5><b>EXPLORE</b></h5>
                </div>
                <div class="container">
                        <div class="row no-gutters">
                                <div class="col  col-5">
                                        <h1 class="text-right">
                                                <a href="{{ url_for('visuals') }}">
                                                        <i class="fas fa-chart-pie"></i>
                                                </a>
                                        </h1>
                                </div>
                                <b class="mr-1 ml-1"></b>
                                <div class="col">
                                        <h3 class="text-left"> graphic</h3>
                                </div>
                        </div>
                        <div class="row no-gutters">
                                <div class="col  col-5">
                                        <h1 class="text-right">
                                                <a href="{{ url_for('table') }}">
                                                        <i class="fas fa-table"></i>
                                                </a>
                                        </h1>
                                </div>
                                <b class="mr-1 ml-1"></b>
                                <div class="col">
                                        <h3 class="text-left"> table</h3>
                                </div>
                        </div>
                </div>
        {% else %}
                {{ user.no_data_message }}
        {% endif %}
<footer class="mastfoot mt-auto">
        <div class="inner">
            <p>
                <small>built by <a href="https://peter-amerkhanian.github.io/">Peter</a>.</small>
            </p>
        </div>
    </footer>
{% endblock content %}