{% extends "layout.html" %}
{% block navbar %}
<a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
<a class="btn btn-primary" href="{{ url_for('survey') }}">Survey</a>
<a class="btn btn-primary active" href="{{ url_for('data') }}">Get Data</a>
{% endblock navbar %}
{% block content %}
        {% if len(graph_data)>25 %}
        <embed type="image/svg+xml" src={{ graph_data|safe }} class="m-4" style='min-width:450px'/>
        {% else %}
        {{ graph_data }}
        {% endif %}
<!--<embed type="image/svg+xml" src={{ graph_data_2|safe }} class="m-4" style='min-width:450px'/>-->
{% endblock content %}