{% extends "layout.html" %}
{% block navbar %}
<a class="nav-link active" href="{{ url_for('home') }}">Survey</a>
<a class="nav-link" href="{{ url_for('data') }}">Get Data</a>
{% endblock navbar %}
{% block content %}
            <form method="POST" action="" class="justify-content-center">
                {{ form.hidden_tag() }} <i class="fas fa-bed"></i>
                <b>{{ form.hours_of_sleep.label }} last night: </b>
                <div class="form-group">
                    {{ form.hours_of_sleep() }}

                </div>

                <div class="form-check">
                    <div><b><i class="far fa-smile"></i> {{ form.meditation.label }}</b></div>
                    {% for choice in form.meditation %}
                    <label class="">{{ choice }} {{ choice.label }} </label>
                    {% endfor %}
                </div>

                <div><b><i class="fas fa-running"></i> {{ form.exercise.label }}: </b></div>
                <div class="custom-control custom-radio" role="group" data-toggle="buttons">
                    {% for choice in form.exercise %}
                    <label class="">{{ choice }} {{ choice.label }} </label>
                    {% endfor %}
                </div>

                <hr class="my-2">

                <div><b>{{ form.fatigue.label }}: </b></div>
                <i class="far fa-thumbs-up"></i>
                <div class="btn-group" role="group" data-toggle="buttons">
                    {% for choice in form.fatigue %}
                    <label class="btn btn-secondary">{{ choice }} </label>
                    {% endfor %}
                </div>
                <i class="far fa-thumbs-down"></i>

                <div><b>{{ form.stress.label }}: </b></div>
                <i class="far fa-thumbs-up"></i>
                <div class="btn-group" role="group" data-toggle="buttons">
                    {% for choice in form.stress %}
                    <label class="btn btn-secondary">{{ choice }} </label>
                    {% endfor %}
                </div>
                <i class="far fa-thumbs-down"></i>


                <div><b>{{ form.rest.label }}: </b></div>
                <i class="fas fa-thumbs-down"></i>
                <div class="btn-group" role="group" data-toggle="buttons">
                    {% for choice in form.rest %}
                    <label class="btn btn-secondary">{{ choice }} </label>
                    {% endfor %}
                </div>
                <i class="fas fa-thumbs-up"></i>


                <div><b>{{ form.emotion.label }}: </b></div>
                <i class="fas fa-thumbs-down"></i>
                <div class="btn-group" role="group" data-toggle="buttons">
                    {% for choice in form.emotion %}
                    <label class="btn btn-secondary">{{ choice }} </label>
                    {% endfor %}
                </div>
                <i class="fas fa-thumbs-up"></i>

                <div><b>{{ form.comfort.label }}: </b></div>
                <i class="fas fa-thumbs-down"></i>
                <div class="btn-group" role="group" data-toggle="buttons">
                    {% for choice in form.comfort %}
                    <label class="btn btn-secondary">{{ choice }} </label>
                    {% endfor %}
                </div>
                <i class="fas fa-thumbs-up"></i>

                <div><b>{{ form.arousal.label }}: </b></div>
                <i class="fas fa-thumbs-down"></i>
                <div class="btn-group" role="group" data-toggle="buttons">
                    {% for choice in form.arousal %}
                    <label class="btn btn-secondary">{{ choice }}</label>
                    {% endfor %}
                </div>
                <i class="fas fa-thumbs-up"></i>

                <div class="form-group">
                    {{ form.submit(class="btn btn-secondary mt-3 mb-2 mx-1") }}
                </div>
            </form>
{% endblock content %}