{% extends "layout.html" %}
{% block navbar %}
<a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
<a class="btn btn-primary" href="{{ url_for('survey') }}">Survey</a>
<a class="btn btn-primary" href="{{ url_for('data') }}">Data</a>
{% endblock navbar %}
{% block content %}
<div class="mt-2 mb-1">
    <h3>Sign up:</h3>
</div>
<div class="mb-5" style="">

    <form method="POST" action="" class="m-2">
        {{ sign_up.hidden_tag() }}

        {% if sign_up.errors %}
        <div class="alert alert-danger" role="alert">
            <span><b>Error.</b> Please review your answers</span>
        </div>
        {% endif %}

        {{ sign_up.name.label }}
        <div class="form-group">
            {{ sign_up.name() }}
        </div>
        {% if sign_up.name.errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in sign_up.name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}

        {{ sign_up.password.label }}
        <div class="form-group">
            {{ sign_up.password() }}
        </div>
        {% if sign_up.password.errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in sign_up.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}

        {{ sign_up.password2.label }}
        <div class="form-group">
            {{ sign_up.password2() }}
        </div>
        {% if sign_up.password2.errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in sign_up.password2.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            {{ sign_up.submit(class="btn btn-primary mt-3 mb-2 mx-1") }}
        </div>
    </form>
</div>
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>
            <small>built by <a href="https:peter-amerkhanian.github.io">Peter</a>.</small>
        </p>
    </div>
</footer>
{% endblock content %}