{% extends "layout.html" %}
{% block navbar %}
<a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
<a class="btn btn-primary active" href="{{ url_for('survey') }}">Survey</a>
<a class="btn btn-primary" href="{{ url_for('data') }}">Data</a>
{% endblock navbar %}
{% block content %}
<div class="mt-2 mb-2">
    Hello, {{ name }}
</div>
<div id="#myPage" class="mb-5" style="">
            <form method="POST" action="" class="m-2">
                {{ form.hidden_tag() }}

                <i class="fas fa-bed"></i>
                {{ form.hours_of_sleep.label }} last night
                <div class="form-group">
                    {{ form.hours_of_sleep() }}

                </div>

                <div class="form-check">
                    <div><i class="far fa-dizzy"></i> {{ form.headache.label }}</div>
                    {% for choice in form.headache %}
                    <label class="">{{ choice }} {{ choice.label }} </label>
                    {% endfor %}
                </div>

                <div class="form-check">
                    <div><i class="fas fa-cannabis"></i> {{ form.cannabis.label }}</div>
                    {% for choice in form.cannabis %}
                    <label class="">{{ choice }} {{ choice.label }} </label>
                    {% endfor %}
                </div>

                <div class="form-check">
                    <div><i class="far fa-smile"></i> {{ form.meditation.label }}</div>
                    {% for choice in form.meditation %}
                    <label class="">{{ choice }} {{ choice.label }} </label>
                    {% endfor %}
                </div>

                <hr class="my-2">

                <div><i class="far fa-sun"></i> {{ form.morning.label }} </div>
                <div class="custom-control custom-radio mb-2" style="display: block;" role="group" data-toggle="buttons">
                    <tr>
                        <td>{{ form.morning(class_="form-control") }}</td>
                    </tr>
                </div>

                <div><i class="fas fa-pills"></i> {{ form.pills.label }} </div>
                <div class="custom-control custom-radio mb-2" style="display: block;" role="group" data-toggle="buttons">
                    <tr>
                        <td>{{ form.pills(class_="form-control") }}</td>
                    </tr>
                </div>

                <div><i class="fas fa-running"></i> {{ form.exercise.label }} </div>
                <div class="custom-control custom-radio" role="group" data-toggle="buttons">
                    {% for choice in form.exercise %}
                    <label class="">{{ choice }} {{ choice.label }} </label>
                    {% endfor %}
                </div>

                <hr class="my-2">

                <div>{{ form.fatigue.label }} </div>
                <i class="far fa-thumbs-up"></i>
                <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
                    {% for choice in form.fatigue %}
                    <label class="btn btn-secondary">{{ choice }} </label>
                    {% endfor %}
                </div>
                <i class="far fa-thumbs-down"></i>

                <div>{{ form.stress.label }} </div>
                <i class="far fa-thumbs-up"></i>
                <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
                    {% for choice in form.stress %}
                    <label class="btn btn-secondary">{{ choice }} </label>
                    {% endfor %}
                </div>
                <i class="far fa-thumbs-down"></i>


                <div>{{ form.rest.label }} </div>
                <i class="fas fa-thumbs-down"></i>
                <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
                    {% for choice in form.rest %}
                    <label class="btn btn-secondary">{{ choice }} </label>
                    {% endfor %}
                </div>
                <i class="fas fa-thumbs-up"></i>


                <div>{{ form.emotion.label }} </div>
                <i class="fas fa-thumbs-down"></i>
                <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
                    {% for choice in form.emotion %}
                    <label class="btn btn-secondary">{{ choice }} </label>
                    {% endfor %}
                </div>
                <i class="fas fa-thumbs-up"></i>

                <div>{{ form.comfort.label }}</div>
                <i class="fas fa-thumbs-down"></i>
                <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
                    {% for choice in form.comfort %}
                    <label class="btn btn-secondary">{{ choice }} </label>
                    {% endfor %}
                </div>
                <i class="fas fa-thumbs-up"></i>

                <div>{{ form.arousal.label }}</div>
                <i class="fas fa-thumbs-down"></i>
                <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
                    {% for choice in form.arousal %}
                    <label class="btn btn-secondary">{{ choice }}</label>
                    {% endfor %}
                </div>
                <i class="fas fa-thumbs-up"></i>

                <div class="form-group">
                    {{ form.submit(class="btn btn-primary mt-3 mb-2 mx-1") }}
                </div>
            </form>
    <a class="btn btn-primary" href="#myPage" title="To Top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>

    </div>
<script>
    $(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, a[href='#myPage']").on('click', function(event) {

   // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){

      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
    } // End if
  });
})
</script>
{% endblock content %}