{% extends "layout.html" %}
{% block navbar %}
<a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
<a class="btn btn-primary active" href="{{ url_for('survey') }}">Survey</a>
<a class="btn btn-primary" href="{{ url_for('data') }}">Data</a>
{% endblock navbar %}
{% block content %}
<div class="mt-2 mb-3">
    Hello, {{ name }}
</div>
<div id="#myPage" class="mb-5" style="">

    <form method="POST" action="" class="m-2">
        {{ form.hidden_tag() }}

        <i class="far fa-calendar-alt"></i> {{ form.date.label }}
        <div class="form-group">
            {{ form.date(type="date") }}
        </div>
        {% if form.date.errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.date.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}

        <i class="fas fa-bed"></i>
        {{ form.hours_of_sleep.label }} last night
        <div class="form-group">
            {{ form.hours_of_sleep() }}
        </div>

        <div class="form-check">
            {% if form.headache.errors %}
            <div style="border-color: #f8d7da; border-style: solid; border-radius: 5px;">
                {% endif %}
            <div><i class="far fa-dizzy"></i> {{ form.headache.label }}</div>
            {% for choice in form.headache %}
            <label>{{ choice }} {{ choice.label }} </label>
            {% endfor %}
                {% if form.headache.errors %}
            </div>
            {% endif %}
        </div>

        <div class="form-check">
            <div><i class="fas fa-cannabis"></i> {{ form.cannabis.label }}</div>
            {% for choice in form.cannabis %}
            <label class="">{{ choice }} {{ choice.label }} </label>
            {% endfor %}
        </div>

        <div class="form-check">
            <div><i class="far fa-smile"></i> {{ form.meditation.label }}</div>
            {% for choice in form.meditation %}
            <label class="">{{ choice }} {{ choice.label }} </label>
            {% endfor %}
        </div>

        <hr class="my-2">

        <div><i class="far fa-sun"></i> {{ form.morning.label }}</div>
        <div class="custom-control custom-radio mb-2" style="display: block;" role="group" data-toggle="buttons">
            <tr>
                <td>{{ form.morning(class_="form-control") }}</td>
            </tr>
        </div>

        <div><i class="fas fa-pills"></i> {{ form.pills.label }}</div>
        <div class="custom-control custom-radio mb-2" style="display: block;" role="group" data-toggle="buttons">
            <tr>
                <td>{{ form.pills(class_="form-control") }}</td>
            </tr>
        </div>

        <div><i class="fas fa-running"></i> {{ form.exercise.label }}</div>
        <div class="custom-control custom-radio" role="group" data-toggle="buttons">
            {% for choice in form.exercise %}
            <label class="">{{ choice }} {{ choice.label }} </label>
            {% endfor %}
        </div>

        <hr class="my-2">

        <div>{{ form.fatigue.label }}</div>
        <i class="far fa-thumbs-up"></i>
        <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
            {% for choice in form.fatigue %}
            <label class="btn btn-secondary">{{ choice }} </label>
            {% endfor %}
        </div>
        <i class="far fa-thumbs-down"></i>

        <div>{{ form.stress.label }}</div>
        <i class="far fa-thumbs-up"></i>
        <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
            {% for choice in form.stress %}
            <label class="btn btn-secondary">{{ choice }} </label>
            {% endfor %}
        </div>
        <i class="far fa-thumbs-down"></i>

        <div>{{ form.comfort.label }}</div>
        <i class="far fa-thumbs-up"></i>
        <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
            {% for choice in form.comfort %}
            <label class="btn btn-secondary">{{ choice }} </label>
            {% endfor %}
        </div>
        <i class="far fa-thumbs-down"></i>


        <div>{{ form.rest.label }}</div>
        <i class="fas fa-thumbs-down"></i>
        <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
            {% for choice in form.rest %}
            <label class="btn btn-secondary">{{ choice }} </label>
            {% endfor %}
        </div>
        <i class="fas fa-thumbs-up"></i>


        <div>{{ form.emotion.label }}</div>
        <i class="fas fa-thumbs-down"></i>
        <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
            {% for choice in form.emotion %}
            <label class="btn btn-secondary">{{ choice }} </label>
            {% endfor %}
        </div>
        <i class="fas fa-thumbs-up"></i>


        <div>{{ form.arousal.label }}</div>
        <i class="fas fa-thumbs-down"></i>
        <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
            {% for choice in form.arousal %}
            <label class="btn btn-secondary">{{ choice }}</label>
            {% endfor %}
        </div>
        <i class="fas fa-thumbs-up"></i>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary mt-3 mb-2 mx-1") }}
        </div>
    </form>

</div>
{% endblock content %}