{% extends "layout.html" %}
{% block navbar %}
<a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
<a class="btn btn-primary" href="{{ url_for('survey') }}">Survey</a>
<a class="btn btn-primary" href="{{ url_for('data') }}">Data</a>
{% endblock navbar %}
{% block content %}
<main role="main" class="inner cover">
<div> Thank you for filling out the survey, {{ name }}!</div>
</main>
<footer class="mastfoot mt-auto">
        <div class="inner">
            <p>
                <small>built by <a href="https:peter-amerkhanian.github.io">Peter</a>.</small>
            </p>
        </div>
    </footer>
{% endblock content %}